<div class="row">
	<div class="col-md-8">
		<div id="profile_title">
			<h3> <%= @user.profile.name %> </h3>

			<h4><%= @user.profile.user.email %></h4>
			<br/>
			<h4> Email Hash to copy</h4>
			<p><%= @user.profile.email_hash %></p>
			
		</div>
	</div>

	<div class="col-md-6">
		<%= image_tag @user.profile.image.url(:medium), class: 'profile_image' %>
	</div>
</div>



